* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #fcfcfc;
  display: inline-block;
  padding: 15px;
  align-items: center;
  margin: 20px 0;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
}

.drop {
  width: 400px;
  user-select: none;
  margin: 10px auto;
  position: relative;
  
}
.drop .drop-btn {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.drop .drop-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 95%;
  cursor: pointer;
}
.drop .drop-content .drop-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.drop .drop-content .drop-item:hover {
  background: #f4f4f4;
  cursor: pointer;
}

.Download {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  cursor: pointer;
  align-items: center;
  }
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.8;
}